@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #9AD4D6;
    --primary-color-light: #fffcfa;
    --primary-color-dark: #101935;
    --special-color: #564787;
    --text-dark: #18181b;
    --text-light: #F2FDFF;
    --max-width: 1200px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

ul {
    list-style: none;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", system-ui;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* ---------------------------------- customization nav ---------------------------------- */
.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color-dark);

    & .logo-nav_logo a {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--primary-color-light);
    }

    & .logo-nav_logo span {
        color: var(--primary-color);
    }

    & .nav_menu_btn {
        font-size: 1.5rem;
        color: var(--primary-color-light);
        cursor: pointer;
    }
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
    background-color: var(--primary-color-light);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);

    & a{
        font-weight: 500;
        color: var(--primary-color);
    }

    & a:hover {
        color: var(--primary-color-dark);
    }
}

.nav_links.open {
    transform: translateY(0);
}

.nav_btn {
    display: none;
}

/* ---------------------------------- customization header ---------------------------------- */

.header_container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
    background-image: url(/assets/coffeeHeader.png);
    background-size: cover;
    background-position: center;
}

.header_image img {
    display: none;
    max-width: 60rem;
    margin-inline: auto;
}

.header_content {
    max-width: 100%;
    margin: 0;
    padding: 0;

    & h1 {
        margin-top: 1rem;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        text-align: center;
        color: var(--text-dark);
    }

    & span {
        color: var(--primary-color);
    }

    & .section_description {
        margin-bottom: 2rem;
        color: var(--text-dark);
        text-align: center;
        line-height: 1.75rem;
    }

    & .btn {
        margin-bottom: 1rem;
    }
}

.header_btn {
    text-align: center;
}

.btn {
    padding: 1rem 2.2rem;
    outline: none;
    border: none;
    border-radius: 1.1rem;
    white-space: nowrap;
    font-size: 1.2rem;
    color: var(--text-light);
    background-color: var(--primary-color-dark);
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--special-color);
    font-weight: 500;
}
 /* ------------------------------- all section have a class section_container ----------------------------------------- */
.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

/* ---------------------------------- customization special_container ---------------------------------- */
.special_container {
    & .section_header,
    .section_description {
        max-width: 60rem;
        margin-inline: auto;
    }
}

.special_container {
    & .section_header {
        margin-bottom: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        color: var(--text-dark);
        text-align: center;
    }
}

.special_grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;

    & .special_card {
        padding: 1rem;
        border-radius: 2rem;
        text-align: center;
        transition: 0.5s;
    }

    & .special_card:nth-child(1) {
        transition-delay: 200ms;
    }

    & .special_card:nth-child(2) {
        transition-delay: 400ms;
    }

    & .special_card:nth-child(3) {
        transition-delay: 400ms;
    }

    & .special_card:hover {
        box-shadow: 1rem 1rem 4rem var(--primary-color-dark);
    }

    & .special_card:hover img {
        border-radius: 2rem;
        
    }

    & .special_card img{
        max-width: 20rem;
        margin-inline: auto;
        margin-bottom: 1rem;
        filter: drop-shadow(0.1rem 0.1rem 0.3rem var(--primary-color-dark));
        transition: 0.5s;
    }

    & .special_card h4 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-dark);
    }

    & .special_card p {
        margin-bottom: 0.5rem;
        color: var(--text-dark);
        line-height: 1.75rem;
    }

    & .special_rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
    }

    & .special_footer .price {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--text-dark);
    }
}

/* ---------------------------------- customization explore container ---------------------------------- */
.explore_container {
    display: grid;
    gap: 2rem;
    overflow: hidden;

    & .explore_image img {
        max-width: 40rem;
        margin-inline: auto;
        box-shadow: 0.3rem 0.3rem 1rem var(--primary-color-dark);
    }

    & .section_description {
        margin-bottom: 2rem;
    }

    & .explore_btn {
        text-align: center;
    }
}

/* ---------------------------------- customization banner container ---------------------------------- */
.banner_container {
    display: grid;
    gap: 1rem;

    & .banner_card {
        padding: 2rem;
        box-shadow: 0.5rem 0.5rem 2rem var(--primary-color-dark);
        border-radius: 3rem;
        transition: 0.3s;
    }

    & .banner_card:hover {
        box-shadow: 1rem 1rem 4rem var(--special-color);
    }

    & .banner_icon {
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.5rem 1.1rem;
        font-size: 2rem;
        color: var(--text-light);
        border-radius: 1rem;
    }

    & .banner_card:nth-child(1) .banner_icon {
        background-color: var(--primary-color-dark);
        box-shadow: 0.5rem 0.5rem 3rem var(--primary-color-dark);
    }

    & .banner_card:nth-child(2) .banner_icon {
        background-color: var(--special-color);
        box-shadow: 0.5rem 0.5rem 3rem var(--special-color);
    }

    & .banner_card:nth-child(3) .banner_icon {
        background-color: var(--primary-color);
        box-shadow: 0.5rem 0.5rem 3rem var(--primary-color);
    }

    & .banner_card h4 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--text-dark);
    }

    & .banner_card p {
        margin-bottom: 1rem;
        color: var(--text-dark);
        line-height: 1.75rem;
    }

    & .banner_card a {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
        color: var(--primary-color-dark);
    }
    & .banner_card a span {
        font-size: 1.25rem;
        transition: 0.3s;
    }

    & .banner_card a:hover span {
        transform: translateX(1rem);
    }
}

/* ---------------------------------- customization farmer container ---------------------------------- */
.farmer {
    position: relative;
    isolation: isolate;
    overflow: hidden;

    & .imgback {
        position: absolute;
        z-index: -1;
        max-width: 27.5rem;
        left: -1.5rem;
        bottom: -1rem;
    }
}

.farmer_container {
    padding-bottom: 10rem;
    display: grid;
    gap: 2rem;

    & .farmer_image {
        position: relative;
        isolation: isolate;
    }

    & .farmer_image img {
        max-width: 50rem;
        border-radius: 100%;
        margin-inline: auto;
    }

    & .farmer_image::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
        max-width: 50rem;
        background-color: var(--primary-color);
        border-radius: 100%;
        z-index: -1;
    }

    & .farmer_content .section_header {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        color: var(--text-dark);
        text-align: center;
    }

    & .farmer_content .section_description {
        text-align: center;
        line-height: 1.75rem;
        color: var(--text-dark);
        margin-bottom: 1rem;
    }

    & .farmer_list {
        display: grid;
        gap: 0.5rem;

        & li {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-weight: 500;
            color: var(--text-dark);

            & span {
                font-size: 1.5rem;
            }
        }

        & li:nth-child(1) span {
            color: var(--primary-color-dark);
        }

        & li:nth-child(2) span {
            color: var(--special-color);
        }

        & li:nth-child(3) span {
            color: var(--primary-color);
        }
    }
}

/* ---------------------------------- customization client container ---------------------------------- */
.client_container {
    padding-top: 2rem;

    & .section_header, .section_description {
        max-width: 60rem;
        margin-inline: auto;
        text-align: center;
    }

    & .client_slider {
        margin-top: 2rem;
        max-width: 75rem;
        margin-inline: auto;
        padding: 3rem 1rem;
        overflow: hidden;
        border: 0.2rem solid var(--primary-color);
        border-radius: 3rem;
        position: relative;
    }

    & .client_slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    & .client_slide {
        min-width: 100%;
        box-sizing: border-box;
    }

    & .client_card {
        text-align: center;

        & p {
            width: 90%;
            margin-inline: auto;
        }

        & img {
            margin: 1rem;
            max-width: 7rem;
            margin-inline: auto;
            border-radius: 100%;
            box-shadow: 0.3rem 0.3rem 1rem var(--primary-color);
        }

        & h4 {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--text-dark);
        }

        & h5 {
            font-size: 1rem;
            font-weight: 500;
            color: var(--text-dark);
        }
    }

    & .client_pagination {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    & .client_bullet {
        width: 1rem;
        height: 1rem;
        background-color: var(--primary-color);
        border-radius: 50%;
        margin: 0 0.5rem;
        cursor: pointer;
    }

    & .client_bullet.active {
        background-color: var(--primary-color-dark);
    }
}

/* ---------------------------------- customization footer ---------------------------------- */
.footer {
    background-color: var(--primary-color);
}

.hidden:nth-child(8) {
    transform: translateY(100%);
}

.show:nth-child(8) {
    transform: translateY(0);
}

.footer_container {
    display: grid;
    gap: 4rem 2rem;

    & .footer_logo {
        margin-bottom: 1rem;
    }

    & .footer_col {
        & .section_description {
            text-align: left;
        }

        & .footer_logo a{
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--primary-color-light);

            & span {
                color: var(--primary-color-dark);
            }
        }

        & .socials {
            display: flex;
            text-align: center;
            margin-top: 1rem;
            gap: 2rem;
            font-size: 1.5rem;
            transition: all 1s;

            & a {
                color: var(--primary-color-light);
            }

            & a:hover {
                color: var(--primary-color-dark);
                font-size: 1.8rem;
            }
        }

        & h4 {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--primary-color-dark);
        }

        & .footer_links {
            display: grid;
            gap: 0.75rem;
        }

        & .footer_links a {
            color: var(--text-light);
        }

        & .footer_links a:hover {
            color: var(--special-color);
        }
    }
}

.footer_bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}

/* ---------------------------------- customization medias ---------------------------------- */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none
    }
};

@media (width > 540px ) {

    .special_grid {
        grid-template-columns: repeat(2,1fr);
    }

    .banner_container {
        grid-template-columns: repeat(2,1fr);
    }

    .footer_container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (width <= 768px) {
    .header_container {
        background-image: none;
        display: grid;
        gap: 2rem;
        overflow: hidden;
    
        & .header_image img {
            display: flex;
        }
    }

    .farmer {
        & .imgback {
            max-width: 15rem;
        }
    }
}
@media (width > 768px ) {
    nav {
        position: static;
        display: flex;
        padding: 1rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav_header {
        flex: 1;
        padding: 0;
        background-color: transparent;

        & .logo-nav_logo a {
            color: var(--primary-color-dark);
        }

        & .nav_menu_btn {
            display: none;
        }
    }


    .nav_links {
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    
        & a {
            color: var(--primary-color-dark);
        }

        & a:hover {
            color: var(--primary-color);
        }
    }

    .nav_btn {
        display: flex;
        flex: 1;

        & .btn {
            padding: 0.4rem 0.4rem;
            font-size: 1.5rem;
            font-weight: 300;
            border-radius: 100%;
        }
    }

    .header_container {
        grid-template-columns: 2fr 3fr;
        align-items: center;

        & .header_image {
            grid-area: 1/2/2/3;
        }
    
        & .header_content {
            h1,
            .section_description,
            .header_btn {
                text-align: center;
            }
        }
    }

    .special_grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .explore_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        & .section_header {
            max-width: 50rem;
        }

        & .section_header,
        .section_description,
        .explore_btn {
            text-align: center;
        }
    }

    .banner_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .farmer {
        & .imgback {
            max-width: 20rem;
        }

        & .farmer_container {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            & .farmer_image {
                grid-area: 1/2/2/3;
            }

            & .farmer_content {
                & .section_header,
                .section_description {
                    text-align: center;
                }

                & .farmer_list li {
                    justify-content: flex-start;
                }
            }
        }
    }

    .footer_container {
        grid-template-columns: 2fr repeat(3, 1fr);
    }
}

@media (width > 1024px) {

    .special_grid {
        gap: 2rem;
    }

    .special_card {
        padding: 2rem;
        border-radius: 3rem;
    }

    .banner_container {
        gap: 2rem;
    }

    .imgback {
        max-width: 375px;
    }
}
